{% load core_extras editor_extras %}
<div class="card bg-dark shadow-lg border-0 rounded-0 h{{ master_bond.segment.print_heading }}-border-dark">
    <h{{ master_bond.segment.print_heading }} class="card-header border-0 rounded-0 pt-5 px-5 text-bg-dark">
        {{ master_bond.segment.name }}
    </h{{ master_bond.segment.print_heading }}>
    <div class="card-body px-5 pb-5 text-bg-dark">
        <p class="m-0"><strong>Description</strong>: {{ master_bond.segment.description }}</p>
        <p><strong>Sections</strong>:
            {% mb_get_first_section master_bond as master_section %}
            {% if master_section %}
                {% filter_mbs master_bond as master_bond_sections %}
                {% for master_bond_section in master_bond_sections %}
                    {{ master_bond_section.section }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                All
            {% endif %}
        </p>
    </div>
</div>