{% load django_bootstrap5 core_extras %}
{% for field in form.visible_fields %}
    {% has_attr field.field.widget 'input_type' as has_input_type %}
    <div class="input-group d-grid">
        {% if field.help_text %}
            <div class="input-group-text text-bg-secondary border-secondary d-block rounded-0 rounded-top text-start text-wrap">
                {% if field.field.required %}<span class="text-danger pe-1">{% include 'core/helpers/icon.html' with icon='asterisk' size='1rem' %}</span>{% endif %} {{ field.help_text }}
            </div>
            {% define ' rounded-0 rounded-bottom' as field_class_help %}
            {% if has_input_type %}
                {% if field.field.widget.input_type == 'file' and field.value %}
                    <div><img src="{{ MEDIA_URL }}{{ field.value }}" alt="{% if field.value %}{{ field.help_text }}{% else %}No image uploaded.{% endif %}"
                              class="mx-0 border-start border-end border-secondary w-100" /></div>
                {% endif %}
            {% endif %}
        {% else %}
            {% define '' as field_class_help %}
        {% endif %}
        {% if has_input_type %}
            {% if field.field.widget.input_type == 'file' %}
                {% bootstrap_field field layout='floating' field_class='text-bg-dark'|add:field_class_help wrapper_class='m-0' show_help=False show_label=False %}
            {% elif field.field.widget.input_type == 'datalist' or field.field.widget.input_type == 'quill' %}
                {{ field }}
            {% else %}
                {% bootstrap_field field layout='floating' field_class='text-bg-dark'|add:field_class_help wrapper_class='m-0' show_help=False %}
            {% endif %}
        {% else %}
            {% bootstrap_field field layout='floating' field_class='text-bg-dark'|add:field_class_help wrapper_class='m-0' show_help=False %}
        {% endif %}
    </div>
{% endfor %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}