{% load django_bootstrap5 core_extras %}
{{ formset.management_form }}
<div class="modal-body text-bg-dark">
    {% include 'core/helpers/alert.html' with alert_css='mb-2' icon='info-square' text='<strong>NOTE</strong>: to add a letter grade to this grading scale, simply complete the row below (the entire row must be completed), and then click the Save button. To remove a letter grade, simply click the red X next to it and then click Save. Multiple letter grades can be added or removed at a time. If additional rows are needed, simply click the Add Letter Grade button.' text_css='ps-3' type='info' %}
    {% include 'core/helpers/alert.html' with alert_css='mb-2' icon='exclamation-square' text='<strong>WARNING</strong>: Letter grades can only be removed using the red X (do not attempt to clear letter grade values, as doing so is not supported).' text_css='ps-3' type='warning' %}
    <ul class="d-grid gap-2 m-0 list-unstyled">
        {% for inline_form in formset %}
            {{ inline_form.id }}
            <li class="form-row d-flex">
                {% bootstrap_field inline_form.letter layout='floating' field_class='border-secondary rounded-0 rounded-start text-bg-dark' wrapper_class='' show_help=False %}
                {% bootstrap_field inline_form.percent_start layout='floating' field_class='border-0 border-top border-bottom border-end border-secondary rounded-0 text-bg-dark' wrapper_class='' show_help=False %}
                {% bootstrap_field inline_form.percent_end layout='floating' field_class='border-0 border-top border-bottom border-secondary rounded-0 text-bg-dark' wrapper_class='' show_help=False %}
                {% if formset.can_delete %}{% include 'core/modal/formset_delete.html' with form=inline_form prefix='gradingscalegrade_set' %}{% endif %}
            </li>
        {% endfor %}
        <li>
            <button type="button" class="add-form-row btn btn-secondary btn-lg d-flex align-items-center w-100"
                    data-prefix="gradingscalegrade_set">
                {% include 'core/buttons/content.html' with icon='plus-lg' icon_color='' text='Add Letter Grade' text_css='fs-5 ps-3' size='1.5rem' %}
            </button>
        </li>
    </ul>
</div>