{% load json_loaders core_extras editor_extras %}
<div class="offcanvas-body">
    {% for master_bond in master_bonds %}
        <div id="segment-{{ master_bond.segment.id }}-toc-segment" class="d-grid w-100">
            <div class="d-flex gap-2 align-items-center p-1">
                {% mb_get_first_section master_bond as master_section %}
                {% define_if master_section 'journal-check' 'journal' as icon %}
                {% define_if segment_id|addstr:' == '|addstr:master_bond.segment.id 'warning' 'light' as icon_color %}
                {% get_json_content 'editor' '{"master_syllabus_id": "'|addstr:master_syllabus.id|addstr:'", "segment_id": "'|addstr:master_bond.segment.id|addstr:'"}' as json_content %}
                {% include 'core/buttons/load_regions.html' with btn_color='dark update-selected flex-fill editor-pad-s-'|addstr:master_bond.segment.print_heading json_stage=False json_profile=False json_toc=False json_title=False json_url=False perms=True post_icon=False text=master_bond.segment.name text_css='ps-3' title=master_bond.segment.description size='1.5rem' %}
                {% include 'editor/mastersyllabus/segment/options/options.html' with from_toc=True %}
            </div>
        </div>
        {% if not master_syllabus.locked %}
            <div id="segment-add-container-{{ master_bond.segment.id }}-toc" class="py-0">
                {% include 'editor/mastersyllabus/options/add_inline.html' with segment_order=master_bond.order %}
            </div>
        {% endif %}
    {% empty %}
        {% include 'core/helpers/alert.html' with alert_css='m-0' icon='info-square' text_css='ps-3' text='No segments here! Use the Add (+) button above to create a segment.' type='info' %}
    {% endfor %}
</div>