<div id="toast-container" class="toast-top position-fixed bottom-0 max-width-100vw z-1090 d-grid gap-3 mb-3"></div>
<div id="toast-template" class="toast border-0 shadow-lg" role="alert" aria-live="assertive"
     aria-atomic="true" data-bs-delay="10000">
    {% include 'core/error/toast.html' with class='' code='' exception='' type='' %}
</div>
<div id="toast-notification-template" class="toast border-0 shadow-lg" role="alert">
    {% include 'core/error/toast.html' with class='' code='' exception='' type='' %}
</div>
