{% load core_extras json_loaders %}
{% if user|has_group:'admins' or user|has_group:'instructors' %}
    {% if editable %}
        {% get_json_content 'admin' '{"model": "section"}' as json_content %}
        {% get_json_profile '' as json_profile %}
        {% get_json_toc 'admin' '{"model": "section"}' as json_toc %}
        {% url 'editor:registration:index' as json_url %}
        {% include 'core/buttons/load_regions.html' with btn_color='dark btn-darker justify-content-center border-0 h-4r w-4r' icon='gear-wide' icon_color='' json_stage=False json_title='Administration' post_icon=False text='' text_css='' title='Administration' size='2rem' %}
    {% endif %}
{% endif %}