{% load core_extras editor_extras %}
<div class="d-grid" style="margin-top: -0.25rem">
    {% include 'editor/gradingscale/toc.html' %}
    <hr>
    <ul id="syllabus-toc-tabs" class="nav nav-pills gap-3" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
            <button class="btn btn-dark w-100{% if toc_tab == 'segments' %} active{% endif %}" id="segments-tab"
                    data-bs-toggle="tab" type="button" role="tab" data-bs-target="#segments-tab-pane"
                    aria-controls="segments-tab-pane" aria-selected="{% if toc_tab == 'segments' %}true{% else %}false{% endif %}">
                Segments
            </button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
            <button class="btn btn-dark w-100{% if toc_tab == 'messages' %} active{% endif %}" id="messages-tab"
                    data-bs-toggle="tab" type="button" role="tab" data-bs-target="#messages-tab-pane"
                    aria-controls="messages-tab-pane" aria-selected="{% if toc_tab == 'messages' %}true{% else %}false{% endif %}">
                Messages
            </button>
        </li>
    </ul>
    <hr>
    <div id="syllabus-toc-tabs-content" class="tab-content">
        <div class="tab-pane fade{% if toc_tab == 'segments' %} show active{% endif %}" id="segments-tab-pane"
             role="tabpanel" aria-labelledby="segments-tab" tabindex="0">
            {% include 'editor/mastersyllabus/segment/toc.html' %}
        </div>
        <div class="tab-pane fade{% if toc_tab == 'messages' %} show active{% endif %}" id="messages-tab-pane"
             role="tabpanel" aria-labelledby="messages-tab" tabindex="0">
           {% include 'editor/messages/toc.html' %}
        </div>
    </div>
    <hr>
</div>