{% load core_extras %}
<div class="d-grid gap-3 p-3">
    {% include 'core/helpers/alert.html' with alert_css='m-0' icon='info-square' text='<strong>Attempts Available</strong>: '|addstr:response_progress.attempts_available text_css='ps-3' type='info' %}
    {% for attempt in attempts %}
        <div class="card border-secondary shadow-lg text-bg-dark">
            <div class="card-header text-bg-secondary">Attempt {{ attempt.count }}</div>
            <div class="card-body d-grid gap-3">
                {% has_attr question 'multiplechoicequestion' as is_multiple_choice_question %}
                {% has_attr question 'truefalsequestion' as is_true_false_question %}
                {% if is_multiple_choice_question %}
                    <form id="response-{{ question.id }}-form">{% include 'viewer/interactive/card/response/multiple_choice_question.html' with show_answer=False form_id=0 %}</form>
                {% elif is_true_false_question %}
                    <form id="response-{{ question.id }}-form">{% include 'viewer/interactive/card/response/true_false_question.html' with show_answer=False form_id=0 %}</form>
                {% endif %}
                {% if attempt.correct %}
                    {% include 'core/helpers/alert.html' with alert_css='m-0' icon='' text='<strong>Correct</strong>' text_css='' type='success' %}
                {% else %}
                    {% include 'core/helpers/alert.html' with alert_css='m-0' icon='' text='<strong>Incorrect</strong>' text_css='' type='danger' %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
